{% extends "base.html" %}
{% block body %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
<h1 class="text-center">Login</h1>

<div class="row">
<div class="medium-6 medium-centered large-4 large-centered columns">
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    <div class="row column log-in-form">
    {% include "security/_messages.html" %}
    {{ login_user_form.hidden_tag() }}
    {{ render_field_with_errors(login_user_form.email, placeholder="Your email address") }}
    {{ render_field_with_errors(login_user_form.password, placeholder="Password") }}
    {{ render_field_with_errors(login_user_form.remember) }}
    {{ render_field(login_user_form.next) }}
    {{ render_field(login_user_form.submit, class_="button expanded") }}
    <p class="text-center"><a href="#">Forgot your password?</a></p>
    </div>
</form>
</div>
</div>


{% endblock %}
