{% extends "base.html" %}
blaaah
{% block body %}
{% from "security/_utils.html" import render_field_sronly_with_errors, render_checkbox_field %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

<div class="row">
<div class="col-md-offset-4 col-md-4">
<form class="form-signin" action="{{ url_for_security('reset') }}" method="POST" name="forgot_password_form">
<h2 class="form-signin-heading">Reset Password</h2>
<div>
{% include "security/_messages.html" %}
{{ reset_password_form.hidden_tag() }}
{{ render_field_sronly_with_errors(reset_password_form.email, placeholder="Email Address", class_="form-control") }}
{{ render_field_sronly_with_errors(reset_password_form.password, placeholder="Password", class_="form-control") }}
<div class="checkbox">
{{ render_checkbox_field(reset_password_form.remember) }}
</div>
{{ render_field(reset_password_form.next) }}
{{ render_field(reset_password_form.submit, class_="btn btn-lg btn-primary btn-block") }}
</div>

<p class="text-center"><a href="/register">Register</a></p>
<p class="text-center"><a href="#">Forgot your password?</a></p>
</form>
</div>
</div>
{% endblock %}





<h1>Send password reset instructions</h1>
<form action="/reset" method="POST" name="forgot_password_form">
  <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="1457927313##594a464d4e10bcbb3de966c4d01c28ac89ea2652"></div>
  <p>
    <label for="email">Email Address</label> <input id="email" name="email" type="text" value="">
  </p>
  <p><input id="submit" name="submit" type="submit" value="Recover Password"></p>

</form>

<h2>Menu</h2>
<ul>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a><br/></li>
  <li><a href="/reset">Forgot password</a><br/></li>
  <li><a href="/confirm">Confirm account</a></li>
</ul>

