
DEBUG = True
SECRET_KEY = 'super-secret'
#SQLALCHEMY_DATABASE_URI = 'postgres://username:password@host/database'
SQLALCHEMY_DATABASE_URI = 'sqlite:///web.db'
SECURITY_CONFIRMABLE = True
SECURITY_TRACKABLE = False

SECURITY_REGISTERABLE = True
SECURITY_SEND_REGISTRATION_EMAIL = True
SECURITY_RECOVERABLE = True
SECURITY_CONFIRMABLE = True
SECURITY_TRACKABLE = True
SECURITY_CHANGEABLE = True


MAIL_SERVER = 'server'
MAIL_PORT = 25
MAIL_USE_TLS = True
MAIL_USE_SSL = False
MAIL_USERNAME = 'username'
MAIL_PASSWORD = 'password'
