alembic==0.8.4
blinker==1.4
coverage==4.0.3
decorator==4.0.6
Flask==0.10.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.7.0
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
ipython==4.0.3
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
passlib==1.6.5
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5
python-editor==0.5
simplegeneric==0.8.1
SQLAlchemy==1.0.9
traitlets==4.1.0
Werkzeug==0.11.3
wheel==0.26.0
WTForms==2.1
