<div class="row">

<div class="col-md-3">
<ul class="nav nav-pills" role="tablist">
<li role="presentation" class="active"><a href="/">Home</span></a></li>
<li role="presentation"><a href="/listings">Listings</a></li>
<li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
</ul>
</div>

<div class="col-md-3 col-md-offset-6">
<ul class="nav nav-pills" role="tablist">
<li role="presentation"><a href="/">My Account</span></a></li>
<li role="presentation"><a href="/logout">Logout</a></li>
</ul>
</div>

</div>
