{##########################
Print out table pagination
###########################}

{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% if pagination %}
      {% for p in pagination.iter_pages() %}
          {% if p %}
              {% if p == pagination.page %}
              <li class="active">
                  <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
              </li>
              {% else %}
              <li>
                  <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
              </li>
              {% endif %}
          {% else %}
          <li class="disabled"><a href="#">&hellip;</a></li>
          {% endif %}
      {% endfor %}
    {% endif %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}

{##########################
Print out sorted table
###########################}
{% macro generate_sorted_table(path, order_bys, order_by, direction, objs) %}
<table class="table">
<thead>
    <tr>
      {% for k,v in order_bys.iteritems() %}
      <th><a href="{{ path }}?order_by={{k}}&direction={% if order_by == k %}{{ not direction }}{% else %}{{ True }}{% endif %}">{{v}}</a></th>
      {% endfor %}
    </tr>
</thead>
<tbody>
{% if objs %}
  {% for obj in objs %}
  <tr>
      {% for obs in order_bys %}
        {% if obs == "fcf" %}
          <td>{{ convert_to_cash(obj[obs])  }}</td>
        {% elif obs == "roe" %}
          <td>{{ obj[obs] | round_float }}</td>
        {% elif obs == "symbol" %}
        <td><a href="{{ url_for("main.company_detail", symbol=obj[obs])}}">{{ obj[obs] }}</a></td>
        {% else %}
          <td>{{ obj[obs] }}</td>
        {% endif %}
      {% endfor %}
  </tr>
  {% endfor %}
{% else %}
  <tr>
        <td>No Listings</td>
  </tr>
{% endif %}
</tbody>
</table>
{% endmacro %}
