{##########################
Print out table pagination
###########################}

{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% if pagination %}
      {% for p in pagination.iter_pages() %}
          {% if p %}
              {% if p == pagination.page %}
              <li class="active">
                  <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
              </li>
              {% else %}
              <li>
                  <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
              </li>
              {% endif %}
          {% else %}
          <li class="disabled"><a href="#">&hellip;</a></li>
          {% endif %}
      {% endfor %}
    {% endif %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}

{##########################
Print out sorted table
###########################}
{% macro generate_sorted_table(path, order_bys, order_by, direction, objs) %}
<table class="table">
<thead>
    <tr>
      <th><a href="{{ path }}?order_by=symbol&direction={% if order_by == "symbol" %}{{ not direction }}{% else %}{{ True }}{% endif %}">Ticker</a></th>
      {% if 'name' in order_bys.keys() %}
          <th><a href="{{ path }}?order_by=name&direction={% if order_by == "name" %}{{ not direction }}{% else %}{{ True }}{% endif %}">Name</a></th>
      {% endif %}
      {% for k,v in order_bys.iteritems() %}
        {% if k != "symbol" and k != "sic_code" and k != "name" %}
            <th><a href="{{ path }}?order_by={{k}}&direction={% if order_by == k %}{{ not direction }}{% else %}{{ True }}{% endif %}">{{v}}</a></th>
        {% endif %}
    {% endfor %}
    </tr>
</thead>
<tbody>
{% if objs %}
  {% for obj in objs %}
  <tr>
      <td><a href="{{ url_for("main.company_detail", symbol=obj['symbol'])}}">{{ obj['symbol'] }}</a></td>
      {% if 'name' in order_bys.keys() %}
        <td><a href="{{ url_for("main.company_detail", symbol=obj['name'])}}">{{ obj['name'] }}</a></td>
      {% endif %}
      {% for obs in order_bys %}
        {% if obs == "fcf" %}
          <td>{{ convert_to_cash(obj[obs]) }}</td>
        {% elif obs == "roe" %}
          <td>{{ obj[obs] | round_float }}</td>
        {% elif obs != "symbol" and obs != "sic_code"  and obs != "name" %}
          <td>{{ obj[obs] }}</td>
        {% endif %}
      {% endfor %}
  </tr>
  {% endfor %}
{% else %}
  <tr>
        <td>No Listings</td>
  </tr>
{% endif %}
</tbody>
</table>
{% endmacro %}


{##########################
Print out aggregate table
###########################}
{% macro generate_aggregate_table(header, averages) %}
<table class="table">
<thead>
    <tr>
        <th>{{header}} Averages</th>
        {% if averages %}
        {% for k,v in averages.iteritems() %}
            <th>{{k}}</a></th>
        {% endfor %}
        {% endif %}
    </tr>
</thead>
<tbody>

{% if averages %}
    <tr>
        <td></td>
        {% for k,v in averages.iteritems() %}
            {% if k == 'roe' %}
                <td>{{v | round_float}}</td>
            {% elif k == 'fcf' %}
                <td>{{ convert_to_cash(v)}}</td>
            {% elif k == 'ev2ebitda' %}
                <td>{{ v | round_float}}</td>
            {% else %}
                <td>{{v}}</td>
            {% endif %}
        {% endfor %}
    </tr>
{% else %}
    <td>No Listings</td>
{% endif %}
</tbody>
</table>
{% endmacro %}
