{% extends "main.html" %}
{% import "_macros.html" as macros %}
{% block content %}
 
<br>
<div class="row">
<div>
<h1>Companies</h1>
<p>Retrieved <b>{{ count }}</b> listings.</p>

{{ macros.pagination_widget(pagination, '.company', order_by=order_by, direction=direction) }}


<table class="table">
<thead>
    <tr>
      {% for obs in order_bys %}
      <th><a href="{{ request.path }}?order_by={{obs}}&direction={% if order_by == obs %}{{ not direction }}{% else %}{{ True }}{% endif %}">{{obs}}</a></th>
      {% endfor %}
    </tr>
</thead>
<tbody>
{% for company in companies %}
<tr>
    <td>{{ company.symbol }}</td>
    <td>{{ company.name }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{{ macros.pagination_widget(pagination, '.company') }}


</div>
</div>
<footer>
<div class="row">
<div class="medium-6 columns">
<ul class="menu">
<li><a href="#">Legal</a></li>
<li><a href="#">Partner</a></li>
<li><a href="#">Explore</a></li>
</ul>
</div>
<div class="medium-6 columns">
<ul class="menu float-right">
<li class="menu-text">Copyright</li>
</ul>
</div>
</div>
</footer>
{% endblock %}
