{% extends "main.html" %}
{% import "_macros.html" as macros %}
{% block content %}
 
<br>
<div class="row">
<div>
<p><a href="{{ request.referrer }}">&larr; Back</a></p>
<h1>{{company.name}}</h1>
<p>
  Research: <a href="https://www.google.com/finance?q={{company.symbol}}">Google</a> | <a href="http://finance.yahoo.com/quote/{{company.symbol}}?p={{company.symbol}}">Yahoo</a> | <a href="https://www.sec.gov/cgi-bin/browse-edgar?CIK={{company.symbol}}&owner=exclude&action=getcompany">Edgar</a> | <a href="https://whalewisdom.com/stock/{{company.symbol.lower()}}">Whale Wisdom</a><br /><br />
  Ticker: <b>{{ company.symbol }}</b><br />
  Sector: <b>{{ company.sector }}</b><br />
  Industry: <b>{{company.industry }}</b><br />
  SIC: <b>{{ get_industry(company.sic_code) }}</b><br />
  Status: <b>{% if company.active %} Active {% else %} Inactive {% endif %}</b><br />
  Indeces: <b> {% for ind in company.indeces %}{{ ind.name }} {% endfor %}</b>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      {% for attribute in attributes %}
        {% if attribute != 'symbol' %}
          <th>{{ attributes[attribute] }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>

  <tbody>
      {% for indicator in indicators %}
      <tr>
        <td>{{ indicator.date }}</td>
        {% for attribute in attributes %}
          {% if attribute == 'roe' %}
          <td>{{ indicator[attribute] | round_float }} </td>
          {% elif attribute == 'fcf' %}
          <td>{{ convert_to_cash(indicator[attribute]) }} </td>
          {% elif attribute != 'symbol' %}
          <td>{{ indicator[attribute] }} </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}

  </tbody>
</table>





</div>
</div>
{% include '_footer.html' %}
{% endblock %}
