<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="https://unpkg.com/vue"></script> 
</head>
<body>


<div id="app" class="container">
  <h1>
    Active Users
    <button v-if="users.length" @click="fetchUsers" class="btn btn-primary">
      <span class="glyphicon glyphicon-refresh"></span>
      Refresh with latest activity
    </button>
  </h1>
  <input v-model="filterQuery" placeholder="Filter users" class="form-control">
  <table v-if="filteredUsers.length" class="table">
    <thead>
      <tr>
        <th v-for="column in tableColumns">
          <a @click="orderByField = column.field">
            (( column.title ))
          </a>
        </th>
      </tr>
    </thead>
    <tbody is="transition-group" name="user-list">
      <tr v-for="user in filteredUsers" :key="user.id">
        <td v-for="column in tableColumns">
          (( getField(user, column.field) ))
        </td>
      </tr>
    </tbody>
  </table>
  <p v-if="statusMessage" class="well">
    (( statusMessage ))
  </p>
</div>

  <script type="text/javascript" src="/static/js/bundle.js"></script> 


</body>
</html>
