{% extends "main.html" %}
{% block content %}

<div class="row">
<div class="col-md-8">
<h1>Welcome!</h1>
<p>Your company recommendation for today is: <b>{{ company.symbol }}</b></p>
<p class="subheader">
Testing CI delivery!


The value stock investor program attempts to identify potential value companies suitable for further research.  Companies are filtered based on a variety of financial factors such as return on equity, and profit margin.  Listings are shown for the previous day's market, not the most recent day.

This program is experimental only.  Any purchases made with real real money should be carefully evaluated.  Please do not rely blindly on this app.
</p>
<a href="/listings"><button class="button">Show Today's Listings</button></a>
</div>
</div>
<footer>
</footer>
{% endblock %}
